<!DOCTYPE html>
<html lang="en">
<head>
  <title>equpie</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index">EQUPIE rents</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="home">Home</a></li>
        <li class="active"><a href="logins">back</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="logout"><span class="glyphicon glyphicon-log-in"></span> LOGOUT</a></li>
    </ul>
  </div>
</nav>



<style>
.card {

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.10s;
  width: 20%;
  float:left;
}

.card:hover {
  box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 6px 16px;
}
</style>

<h2 align="center">rents</h2>

  {% for i in data %}
<div class="card">
<h1>{{i.username}}<br></h1>
        product:
        {{i.product}}<br>
        nunber of days:
        {{i.ndays}}<br>
        time:
        {{i.time}}<br>
        date of return:
        {{i.retn}}

</div>
                {% endfor %}

</body>
</html>