<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>
  <title>equpie</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="index">EQUPIE rents</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="company">home</a></li>
        <li class="active"><a href="edit">back</a></li>
      <li><a href="contact">contact</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="home"><span class="glyphicon glyphicon-log-in"></span> log-in</a></li>
    </ul>
  </div>
</nav>
<center>
    <H1>OUR SERVICE</H1>
  <H3>Phone: 010-020-0560 <BR>
      Email: mail@company.com<BR>
      Support: support@company.com <BR>
    Website: www.company.com<BR></H3>
  <H3>THIS APPLICATION IS MADE FOR THE PURPOSE OF MAIKING CONSTRUCTION HEAD AKES ABOUT THE CONSTRUCTION EQUPMENTS ARE REMOVED AND
  THE COMPLETE AND PROFESTIONAL RENTING SOLUTION IN SIMPLE METHODE OF RENT BOOKING </H3>
  THE APPLICATION IS MADE ON MMM GROUP OF COMPANIES
  <BR>CONTACT: 04987-35447585</BR>
  <BR>ADDRESS:KOCHI KERELA,KADAVANTHRA</BR>
</center>
</body>
</html>